# The default virtual host for port 80
<VirtualHost *:80>
  ServerName {{ common_name }}
{% if subject_alt_names %}
  {% for alias in subject_alt_names %}{% if alias != common_name %}
  ServerAlias {{ alias }}
  {% endif %}{% endfor %}
{% endif %}

  <IfModule mpm_itk_module>
    AssignUserID www-data www-data
  </IfModule>
  ServerAdmin root@{{ hostname }}
  Include /etc/apache2/conf-available/le.conf
  Redirect / https://{{ common_name }}/
</VirtualHost>

# The default virtual host for port 443
<IfModule mod_ssl.c>
  <VirtualHost *:443>
    ServerName {{ common_name }}
{% if subject_alt_names %}
  {% for alias in subject_alt_names %}{% if alias != common_name %}
    ServerAlias {{ alias }}
  {% endif %}{% endfor %}
{% endif %}

    <IfModule mpm_itk_module>
      AssignUserID www-data www-data
    </IfModule>
    
    ServerAdmin root@{{ hostname }}
    SSLEngine On
    SSLCertificateFile            /etc/ssl/le/{{ common_name }}.cert.pem
    SSLCertificateKeyFile         /etc/ssl/le/{{ common_name }}.key.pem
    SSLCertificateChainFile       /etc/ssl/le/{{ common_name }}.ca.pem

    SSLProxyCheckPeerName Off
    SSLProxyCheckPeerExpire Off
    SSLProxyVerify none
       
    ServerSignature Off
    RequestHeader set X-Forwarded-Proto "https"
    
    ProxyPreserveHost On
    ProxyRequests Off
    ProxyPass / http://localhost:{{ exposed_discourse_port }}/
    ProxyPassReverse / http://localhost:{{ exposed_discourse_port }}/

    CustomLog /var/log/apache2/discourse.access.log combined
    ErrorLog /var/log/apache2/error.log

  </VirtualHost>
</IfModule>
